.borough-container {
  height: 100%;
}

.borough-content {
  align-self: center;
  margin: 0 auto;
}

.borough-dropdown {
  margin: 1% 0;
  font-size: 0.9rem;
  width: 210px;
  height: 36px;
  background-color: rgba(0, 123, 77, 0.9);
  color: #FFFFFF;
  border: none;
  font-weight: 600;
}

.boroughs-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* BOX SHADOW EFFECTS FROM W3 SCHOOLS */
.borough-data-styles {
  display: flex;
  align-content: center;
  margin: 2%;
  width: 20%;
  height: 150px;
  border-radius: 2%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/* un-comment once ByBorough map-functionality works 
.borough-data-styles:hover {
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
} */

.borough-content {
  padding: 0 6%;
  line-height: 1.5rem;
}

.borough-data-styles {
  min-width: 200px;
}

@media screen and (min-width: 700px) {
  .borough-container {
    height: 100%;
  }
  
  .borough-container-show-img {
    display: flex;
    width: 100%;
    height: 575px;
  }
  
  .borough-img {
    background-image: url('./../images/nyc.jpg');
    background-size: cover;
    width: 50%;
    height: 100%;
  }
}