.footer-styles {
  height: 60px;
  display: flex;
  justify-content: center;
  /* margin-top: 3%; */
  flex-shrink: 0;
}

#p-footer {
  align-self: center;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
}

#p-footer:hover {
  cursor: pointer;
}