.header-styles, footer {
  background-color: rgb(0,123,77);
  color: #FFFFFF;
  padding: 1% 0;
}

#title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
}

#title h1 {
  margin: 4% 0;
}

.headline {
  font-size: 1.25rem;
  margin: 3% 6% 6% 6%;
}

.link-styles, .footer-styles, .headline {
  font-family: 'Roboto', sans-serif;
}

.ul-styles{
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 3% 10%;
  padding: 0;
}

.link-styles {
  color: #FFFFFF;
  font-size: 1.25rem;
}

.link-styles:hover {
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  #title h1 {
    margin: 1%;
  }

  .headline {
    margin: 2%;
  }

  .ul-styles {
    margin: 1%;
  }
}

