.recycle-container {
  display: flex;
}

.recycle-img {
  background-image: url('https://res.cloudinary.com/eloise/image/upload/v1571689966/sei_project_2/recycle-mobile.jpg');
  background-size: cover;
  height: 233px;
}

.recycle-img, .recycle-content {
  width: 50%;
}

@media screen and (min-width: 700px) {
  .recycle-container {
    height: 400px;
  }

  .recycle-img {
    background-image: url('https://res.cloudinary.com/eloise/image/upload/v1571689970/sei_project_2/recycle-desktop.jpg');
    background-size: cover;
    width: 411px;
    height: 100%;
  }

  .recycle-content {
    text-align: left;
    padding-left: 3%;
  }
}