.reuse-container {
  display: flex;
  flex-direction: row-reverse;
}

.reuse-img {
  background-image: url('./../images/reuse-mobile.jpeg');
  background-size: cover;
  height: 250px;
}

.reuse-img, .reuse-content {
  width: 50%;
}

@media screen and (min-width: 700px) {
  .reuse-container {
    height: 400px;
  }

  .reuse-img {
    background-image: url('./../images/reuse-dektop.jpeg');
    background-size: cover;
    width: 400px;
    height: 100%;
  }

  .reuse-content {
    width: 34%;
    text-align: left;
  }
}