.reuse-container {
  display: flex;
  flex-direction: row-reverse;
}

.reuse-img {
  background-image: url('https://res.cloudinary.com/eloise/image/upload/v1571689958/sei_project_2/reuse-mobile.jpg');
  background-size: cover;
  height: 250px;
}

.reuse-img, .reuse-content {
  width: 50%;
}

@media screen and (min-width: 700px) {
  .reuse-container {
    height: 400px;
  }

  .reuse-img {
    background-image: url('https://res.cloudinary.com/eloise/image/upload/v1571689971/sei_project_2/reuse-dektop.jpg');
    background-size: cover;
    width: 400px;
    height: 100%;
  }

  .reuse-content {
    width: 34%;
    text-align: left;
  }
}