.App {
  text-align: center;
}

/*************** MAIN STYLES *************/
html, body, #root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-div-styles {
  flex: 1 0 auto;
}

/**************** HEADER STYLES ***************/

.header-styles, footer {
  background-color: rgb(0,219,0);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); /* GRADIENT FROM https://webgradients.com/ */
  color: #FFFFFF;
  padding: 1% 0;
  font-family: 'Merriweather', serif;
}

.recycle-logo {
  position: absolute;
  left: 0;
  margin-left: 1%;
  width: 7%;
  opacity: 0.8;
}

#title {
  font-size: 3rem;
}

.headline {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
}

/************* NAV STYLES ********************/
.ul-styles{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 3% 10%;
}

.link-styles {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2rem;
}

.hamburger {
  opacity: 0%;
}

.link-styles:hover {
  text-decoration: underline;
}

.close {
  display: none;
}

/**************** ABOUT STYLES ********************/
.about {
  display: flex;
  justify-content: center;
}

.about-content {
  width: 50%;
  line-height: 1.9rem;
  font-size: 1.1rem;
  padding-top: 5%;
}

/****************** RESOURCES STYLES ****************/
.resources-list {
  padding: 0;
}

.resurces-list-item {
  list-style: none;
  margin: 2%;
  font-size: 1.1rem;
}

/**************** BY BOROUGH STYLES ********************/
.borough-dropdown {
  margin: 1% 0;
  font-size: 0.9rem;
}

.boroughs-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* BOX SHADOW EFFECTS FROM W3 SCHOOLS */
.borough-data-styles {
  margin: 2%;
  width: 20%;
  border-radius: 2%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.borough-data-styles:hover {
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.borough-content {
  padding: 0 6%;
  line-height: 1.5rem;
}

/************************* MAP STYLES ********************/
.mapboxgl-marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: lightblue;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geolocator {
  position: absolute;
  margin: 5px;
}

/*********************** FOOTER STYLES ***********************/

.footer-styles {
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  flex-shrink: 0;
}

#p-footer {
  align-self: center;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2rem;
}

#p-footer:hover {
  cursor: pointer;
}

@media (max-width: 740px) {
  .header-styles {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    /* min-height: 200px; */
  }

  .headline {
    display: none;
    margin: 0;
    padding: 0;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 10%;
    margin: auto 0;
  }

  .hamburger-slice {
    border-bottom: 3px solid #FFFFFF;
    width: 90%;
    margin-bottom: 3px;
    align-self: center;
    border-radius: 50%;
  }

  .hamburger-slice:last-child {
    margin-bottom: 0;
  }

  .sidebar {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    transform: translateX(120%);
    transition: all .2s ease-in-out 0s;
  }

  .sidebar-active {
    transform: translateX(0%);
    transition: all .2s ease-in-out 0s;
    display: flex;
    min-height: 250px;
  }

  .hideburger {
    display: none;
  }

  li {
    margin-bottom: 13px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  .link-styles {
    font-size: 1.25rem;
  }

  .borough-data-styles {
    min-width: 200px;
  }
}
